<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ImpliedTouchscreenHardware,MissingLeanbackLauncher,MissingLeanbackSupport">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="AllFilesAccessPolicy,ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        tools:replace="android:allowBackup"
        android:theme="@style/Theme.SpeedSpy"
        android:enableOnBackInvokedCallback="false"
        tools:ignore="ForegroundServicePermission"
        tools:targetApi="33">
        <!-- 主页:视频列表 -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/THEME_BASIC"
            android:screenOrientation="portrait"
            android:label="主页"
            android:exported="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 播放页Neo -->
        <activity android:name=".PlayerActivityNeo"
            android:theme="@style/THEME_Player"
            android:label="播放器Neo"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|screenLayout"
            android:launchMode="singleTask"
            android:exported="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <meta-data
                android:name="android.notch_support"
                android:value="true"/>
        </activity>
        <!-- 播放页Oro -->
        <activity android:name=".PlayerActivityOro"
            android:theme="@style/THEME_Player"
            android:label="播放器Oro"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|screenLayout"
            android:launchMode="singleTask"
            android:exported="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <meta-data
                android:name="android.notch_support"
                android:value="true"/>
        </activity>


        <!-- 设置 -->
        <activity android:name=".SettingsActivity"
            android:theme="@style/THEME_BASIC"
            android:screenOrientation="portrait"
            android:label="设置"
            android:exported="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <!-- 指南和帮助 -->
        <activity android:name=".GuidanceActivity"
            android:theme="@style/THEME_BASIC"
            android:screenOrientation="portrait"
            android:label="指南和帮助"
            android:exported="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <!-- 设备信息 -->
        <activity android:name=".DeviceInfoActivity"
            android:theme="@style/THEME_BASIC"
            android:screenOrientation="portrait"
            android:label="设备信息"
            android:exported="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>


        <!-- 后台播放服务 -->
        <service
            android:name=".PlayerService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService"/>
            </intent-filter>
        </service>
        <!-- 悬浮窗服务 -->
        <service
            android:name=".FloatingWindowService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />
        <!-- provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 播放控制广播接收器 -->
        <receiver android:name=".PlayerActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="PLAYER_PLAY"/>
                <action android:name="PLAYER_PAUSE"/>
            </intent-filter>
        </receiver>

        <!-- 开放源代码许可
        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/THEME_OSS"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/THEME_OSS"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
            -->
    </application>

</manifest>